body {
  background-color: #2c2c2c; /* Gris oscuro */
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

button {
  background-color: #555555; /* Gris medio */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #777777;
}

@media (max-width: 768px) {
  .productos {
    display: flex;
    flex-direction: column;
  }

  .producto {
    margin-bottom: 20px;
  }
}
